/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/react-virtualized-multi-grid/dist/styles.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
/* MultiGridTable default theme */

.styles_ReactVirtualized__MultiGridTable__Cell__9sqVO {
  flex: 1 0 auto;
  padding: 0px 8px;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  outline: none;
}

.styles_ReactVirtualized__MultiGridTable__HeaderCell__LsUdZ {
}

.styles_ReactVirtualized__MultiGridTable__CellHover__odT7P {
  background-color: #efefef;
}

.styles_ReactVirtualized__MultiGridTable__CellSelected__h9NGl {
  background-color: #cbe7ff;
}

.styles_ReactVirtualized__MultiGridTable__Cell__9sqVO > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  outline: none;
}

.styles_ReactVirtualized__MultiGridTable__Right__MMAMf {
  justify-content: flex-end;
}

.styles_ReactVirtualized__MultiGridTable__Center__e_QUJ {
  justify-content: center;
}

.styles_ReactVirtualized__MultiGridTable__NonePointerEvents__XU3wF {
  pointer-events: none;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__mJ3QG {
  padding-right: 18px;
  position: relative;
  cursor: pointer;
  pointer-events: all;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__mJ3QG:before,
.styles_ReactVirtualized__MultiGridTable__SortBy__mJ3QG:after {
  border: 4px solid transparent;
  content: '';
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__mJ3QG:before {
  border-bottom-color: #666;
  margin-top: -9px;
  opacity: 0.3;
}

.styles_ReactVirtualized__MultiGridTable__SortBy__mJ3QG:after {
  border-top-color: #666;
  margin-top: 1px;
  opacity: 0.3;
}

.styles_ReactVirtualized__MultiGridTable__AscSort__LMkNU:before {
  opacity: 1 !important;
}

.styles_ReactVirtualized__MultiGridTable__DescSort__cvWgU:after {
  opacity: 1 !important;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__zpgBE {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  position: relative;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__zpgBE:hover {
  border-left: 2px dotted #b3b3b3 !important;
}

.styles_ReactVirtualized__MultiGridTable__HeaderResize__zpgBE:hover .styles_ReactVirtualized__MultiGridTable__ResizeHandle__0BKJB {
  opacity: 1;
}

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__0BKJB {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  cursor: col-resize;
  right: 0;
  box-sizing: border-box;
  width: 6px;
  height: 100%;
  opacity: 0;
}

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__0BKJB::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 40%;
  border-left: 2px solid #9c9c9c;
} 

.styles_ReactVirtualized__MultiGridTable__ResizeHandle__0BKJB::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  height: 55%;
  border-right: 2px solid #9c9c9c;
} 

.styles_ReactVirtualized__MultiGridTable__HeaderSortable___QfQ0 {
  cursor: grab;
}
