{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CosNIC-Pulse time app</title>
</head>
<body>
    <h1>Live logs via websockets, awesome work CosNIC buddy! </h1>
    <h4 id="ct" style="font-family: 'Courier New', Courier, monospace;">

    </h4>
    <script>
        //var ws = new WebSocket('ws://localhost:8001/ws/sc/');
        // var ws = new WebSocket('ws://localhost:8001/ws/log/');
        const ws = new WebSocket('ws://localhost:8000/ws/livelogs/');


        ws.onopen = function(event) {
            console.log('WebSocket is open now.');
            ws.send(JSON.stringify({
                message: "Hello from the client!",
                test_run_id: 12345,
                // script_path : "C:\\GitHub\\Django-WebSockets\\dj_websockets_2\\app\\user_scripts\\test_logging.py"
            }));
        };
        
        
        // Executes when the server responds
        ws.onmessage = function(event) {
            console.log('Raw message from server onmessage:', event.data);
            try {
                var data = JSON.parse(event.data);
                document.getElementById('ct').innerText += data.logs + "\n";
            } catch (error) {
                console.error('Error parsing JSON:', error);
            }
        };

        ws.onerror = function(event) {
            console.log('WebSocket error: ', event);
        };

        ws.onclose = function(event) {
            console.log('WebSocket is closed now.', event);
        }; 

    </script>
<!-- 
    // <script src="https://cdn.jsdelivr.net/npm/reconnecting-websocket@4.0.4/dist/ReconnectingWebSocket.min.js"></script>

    <script>
        const logContainer = document.getElementById('log-container');
        const socket = new WebSocket('ws://localhost:8000/ws/livelogs/');

        socket.onopen = function(e) {
            console.log('WebSocket connection established.', e);
        };


        {% comment %} socket.onmessage = function(event) {
            const logMessage = event.data;
            console.log('Received log message:', logMessage);
            const logEntry = document.createElement('div');
            logEntry.textContent = logMessage;
            logContainer.appendChild(logEntry);
            logContainer.scrollTop = logContainer.scrollHeight;
        }; {% endcomment %}

        socket.onmessage = function(event) {
            {% comment %} const logMessage = JSON.parse(event.data); {% endcomment %}
            {% comment %} console.log('Raw message from server onmessage:', event.data); {% endcomment %}
            var data = JSON.parse(event.data);
            console.log('Received log message:', data);

            document.getElementById('ct').innerText += data.logs + "\n";
            {% comment %} logEntry.textContent = logMessage.logs; {% endcomment %}
            {% comment %} logContainer.appendChild(logEntry); {% endcomment %}
            {% comment %} logContainer.scrollTop = logContainer.scrollHeight; {% endcomment %}
        };

        socket.onclose = function(e) {
            console.log('WebSocket connection closed.');
        };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    // </script>
//-->
//</body>
//</html>{% endcomment %}